/* dialog {
  display: flex;
  justify-content: center; /* Centers content horizontally 
  align-items: center;     /* Centers content vertically
  height: 100vh;           /* Example height for visibility 
  overflow: auto;  
  background-color: transparent;
} 
*/